{% extends "default.njk" %}
{% block nav %}
<div class="flex justify-center mt-2">
    <a id="about-nav" class="font-bold navbar-item px-2 text-lg" data-menuanchor="about" href="#about">About</a>
    <a id="service-nav" class="font-bold navbar-item px-2 text-lg" data-menuanchor="service" href="#service">Service</a>
    <a id="repairs-nav" class="font-bold navbar-item px-2 text-lg" data-menuanchor="repairs" href="#repairs">Repairs</a>
    <a id="blog-nav" class="font-bold navbar-item px-2 text-lg" data-menuanchor="blog" href="#blog">Blog</a>
    <a id="contact-nav" class="font-bold navbar-item px-2 text-lg" data-menuanchor="contact" href="#footer">Contact</a>
</div>
{% endblock %}