<div id="post-content" class="flex flex-col md:flex-wrap">
    {%- for service in collections.service -%}
    <div class="max-w-sm rounded overflow-hidden shadow-lg m-4 gap-6">
        <figure class="w-full h-2/3 ">
            {% Image service.data.img, service.data.alt_image, "w-full" %}
        </figure>
        <div class="px-6 py-4">
            <div class="font-bold  text-gray-800 text-xl mb-2">{{ service.data.title }}</div>
            <p class="text-gray-500 text-base">{{ service.content | strip_html }}</p>
        </div>
    </div>
    {%- endfor -%}
</div>
