<div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 prose">
    <h2 class="dark:text-white text-slate-700 text-6xl font-bold mb-4">About</h2>
    <p class="dark:text-white text-slate-700 text-lg mb-4">I am The Instant Camera Guy, an ABN registered sole trader specializing in the sales, servicing, restoration and modification of classic Polaroid cameras.</p>

    <p class="dark:text-white text-slate-700 text-lg mb-4">I also occasionally restore other film cameras such as the Mamiya C series and Graflex Speed Graphics, but I specialize mainly in Polaroids.
        Since I mainly focus on client repairs, I don’t regularly sell refurbished cameras.</p>

    <p class="dark:text-white text-slate-700 text-lg mb-4">However, occasionally I will find, restore and sell them on. Cameras for sale are typically listed on my Facebook page.
    I ship Australia wide. If you are overseas, no worries! I ship pretty much anywhere! Just ask me for a quote!</p>

    <p class="dark:text-white text-slate-700 text-lg mb-4">All cameras I sell are guaranteed to work and come with a 6 months comprehensive warranty</p>
</div>