<footer id="footer" class="bg-gray-900 py-8">
    <div class="container mx-auto flex flex-wrap justify-center">
    <div class="flex justify-center w-full mb-4">
        <a href="#" class="text-white font-bold text-lg">The Instant 📷 Guy</a>
    </div>
    <div class="w-full md:w-1/3 px-4">
        <h3 class="text-white font-bold mb-2">Contact Us</h3>
        <p class="text-gray-300 mb-2">Email: <a href="mailto:theinstantcameraguy@hotmail.com">theinstantcameraguy@hotmail.com</a>
        </p>
        <p class="text-gray-300">
        <a href="tel:0431-845-455"> Phone: 0431 845 455</a>
        </p>
    </div>
    <div class="w-full md:w-1/3 px-4">
        <h3 class="text-white font-bold mb-2 text-center">Follow Us</h3>
        <div class="flex flex-row justify-evenly">
        <div>
            <a href="https://m.me/instantcameraguy" class="text-gray-300 hover:text-white mr-4">
            <i class="social-icon w-5 h-5">{% fortawesomeBrand 'facebook-messenger' , "fill-white" %}</i>
            </a>
        </div>
        <div>
            <a href="https://www.facebook.com/pg/instantcameraguy/about/?ref=page_internal" class="text-gray-300 hover:text-white mr-4">
            <i class="social-icon w-5 h-5">{% fortawesomeBrand 'facebook', "fill-white"  %}</i>
            </a>
        </div>
        <div>
            <a href="https://www.flickr.com/people/116526163@N02" class="text-gray-300 hover:text-white mr-4">
            <i class="social-icon w-5 h-5">{% fortawesomeBrand 'flickr', "fill-white"  %}</i>
            </a>
        </div>
        <div>
            <a href="https://www.instagram.com/theinstantcameraguy/?hl=en" class="text-gray-300 hover:text-white mr-4">
            <i class="social-icon w-5 h-5">{% fortawesomeBrand 'instagram', "fill-white"  %}</i>
            </a>
        </div>
        <div>
            <a href="https://www.youtube.com/playlist?list=PLwtSwDOf9bZr7eI1SN6eN2rorTG-W8pV8" class="text-gray-300 hover:text-white mr-4">
            <i class="social-icon w-5 h-5">{% fortawesomeBrand 'youtube', "fill-white"  %}</i>
            </a>
        </div>
        </div>
    </div>
    <div class="w-full md:w-1/3 px-4">
        <h3 class="text-white font-bold mb-2">Details</h3>
        <p class="text-white font-bold">ABN: 93 161 449 237</p>
    </form>
    </div>
</footer>
